* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: #DBDBD4;
    position: relative;

    display: flex;
    justify-content: center;
}

#green-bg {
    width: 100%;
    height: 150px;
    background-color: #009688;
}

.container {
    max-width: 1600px;
    width: 100%;
    height: 960px;
    border: 1px solid #B1B1B1;

    position: absolute;
    top: 25px;

    display: flex;
}

/* --- LEFT SIDE --- */

#left-sub-container {
    width: 36%;
    border-right: 1px solid #B1B1B1;
    background-color: white;
}

#profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #EAEAEA;
    height: 72px;
    width: 100%;

    padding-left: 10px;
    padding-right: 25px;
}

#io-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    margin-bottom: 0 !important;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 20px;

    font-size: 22px;
    color: #B1B1B1;
}

#banner {
    display: flex;
    align-items: center;

    padding-left: 20px;

    height: 83px;
    width: 100%;

    background-color: #8EDAFC;
}

.fa-bell-slash {
    font-size: 22px;
    padding: 14px;
    border-radius: 50%;

    color: #8EDAFC;
    background-color: white;
    cursor: pointer;

    margin-right: 10px;
}

#banner-textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: default;
}

#banner-textbox a {
    color: #6b6b6b;
    cursor: pointer;
}

form {
    height: 50px;
    width: 100%;
}

.my_input_group {
    height: 100%;
    padding: 8px;
    background-color: #EAEAEA;
}

.my_contacts {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;

    height: 80px;
    background-color: white;
    border: 1px solid #EAEAEA;
    border-top: 0px;
}

/* tutte della stessa dimensione */
img {
    height: 60px;
    border-radius: 50%;
    margin-right: 1em;
}

#my_contacts #info-box {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

/* --- RIGHT SIDE --- */

#right-sub-container {
    width: 64%;
}

#conversation-pannel {
    height: calc(100% - 72px - 70px);
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 10px;

    padding: 4em 8em;

    overflow-y: auto;
}

.chat {
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 320px;
    width: 100%;
    height: 50px;
    padding-left: 1em;

    border-radius: 7px;
    font-size: .9em;
}

.received {
    background-color: whitesmoke;
    align-self: flex-end;
    
}

.sent {
    background-color: #D5F9BA;
}

.message p {
    align-self: flex-end;

    font-size: .7em;
    padding: 3px;
}

#chat-bar {
    display: flex;
    align-items: center;
    height: 70px;

    background-color: #EAEAEA;
}

.my_btn_chat {
    padding: 0 30px !important;
}

.my_btn_chat i {
    font-size: 20px;
    color: #6b6b6b;
}

.active {
    background-color: #EAEAEA;
}