<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div id="green-bg"></div>

    <!-- Includi Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <!-- VUE 3 -->
    <script src="https://unpkg.com/vue@3"></script>

    <div id="app" class="container px-0">
        
        <div id="left-sub-container">
            
            <div id="profile">
                <div id="io-profile">
                    <img src="img/avatar_io.jpg" alt="">
                    <p>Chris</p>
                </div>
                <div id="menu">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-comment"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>

            <div id="banner">
                <i class="fa-solid fa-bell-slash"></i>
                <div id="banner-textbox">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>

            <div>
                <div class="input-group flex-nowrap my_input_group">
                    <button @click="filterClean()"
                    class="btn btn-outline-secondary" type="button" id="button-addon1"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input v-model="filter"
                    type="text" 
                    class="form-control" 
                    placeholder="Cerca o inizia una nuova chat" 
                    aria-label="Username" 
                    aria-describedby="addon-wrapping"
                    @input="filterMethod()"
                    @keyup.enter="filterClean()">
                </div>
            </div>

            <div v-if="filterArray.length < 1">
                <div id="my_contacts"
                v-for="(item, itemIndex) in contacts" :key="contacts"
                @click="changeIndexView(itemIndex)"
                :class="indexView === itemIndex ? 'active' : ''">
                    <img :src=" item.avatar " alt="">
                    <div id="info-box">
                        <div>
                            {{ item.name }}
                            <p>ultimo messaggio inviato</p>   <!-- provvisorio -->
                        </div>
                        <p id="lm-hour">12:00</p>   <!-- provvisorio -->
                    </div> 
                </div>
            </div>

            <div v-else>
                <div id="my_contacts"
                v-for="(item, itemIndex) in filterArray" :key="contacts"
                @click="changeIndexView(itemIndex)"
                :class="indexView === itemIndex ? 'active' : ''">
                    <img :src=" item.avatar " alt="">
                    <div id="info-box">
                        <div>
                            {{ item.name }}
                            <p>ultimo messaggio inviato</p>   <!-- provvisorio -->
                        </div>
                        <p id="lm-hour">12:00</p>   <!-- provvisorio -->
                    </div> 
                </div>
            </div>

        </div>

        <div id="right-sub-container">
            
            <div id="profile">
                <div id="io-profile">
                    <img :src="contacts[indexView].avatar" alt="">
                    <div>
                        {{contacts[indexView].name}}
                        <p>Ultimo accesso oggi alle 12:00</p>   <!-- provvisorio -->
                    </div>
                </div>
                <div id="menu">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div> 

            <div id="conversation-pannel"
            :style="{ backgroundImage: 'url(' + imageBg + ')' }">
                <div class="chat"
                v-for="(messageItem, messageItemIndex) in contacts[indexView].messages" :key="messagesIndex">
                    <div class="message"
                    :class="messageItem.status === 'sent' ? 'sent' : 'received'">
                        {{ messageItem.message }}
                        <p>{{ messageItem.date.slice(11, 16) }}</p>
                        
                        <div class="dropdown my_dropdown">
                            <button class="btn dropdown-toggle my_toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Delete message</a></li>
                            </ul>
                        </div>

                    </div>     
                </div>
            </div>

            <div id="chat-bar">
                <div class="input-group">
                    <button class="btn my_btn_chat" type="button" id="button-addon1"><i class="fa-regular fa-face-smile"></i></button>

                    <input v-model="newMyChat"
                    type="text" 
                    class="form-control" 
                    aria-label="Example text with button addon" 
                    aria-describedby="button-addon1"
                    @keyup.enter="sendChat(); answerChat()">

                    <button class="btn my_btn_chat" type="button" id="button-addon1"><i class="fa-solid fa-microphone"></i></button>
                </div>
            </div>

        </div>


    </div>

    <script src="js/script.js"></script>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>





<!-- axios -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script> -->